In [6]:
import pandas as pd

In [7]:
s1 = pd.read_csv('Rajat_v7_12.7725406397842.csv')
s2 = pd.read_csv('Chetan_v16_13.3263858396692.csv')

In [8]:
s1.head()

   id application_date  segment   case_count
0   1       2019-07-06        1  2419.335275
1   2       2019-07-07        1  1601.375786
2   3       2019-07-08        1  3810.980022
3   4       2019-07-09        1  3533.774295
4   5       2019-07-10        1  3533.774295

In [9]:
s1['case_count'] = s1['case_count']*.9 + s2['case_count']*.1

In [10]:
s1.head()

   id application_date  segment   case_count
0   1       2019-07-06        1  2463.091748
1   2       2019-07-07        1  1615.921540
2   3       2019-07-08        1  3840.269353
3   4       2019-07-09        1  3534.008866
4   5       2019-07-10        1  3548.542199

In [11]:
s1.to_csv('ensemble.csv', index=False)